@import "../../style/variables.scss";
.root {
  position: absolute;
  margin-top: 5.5vh;
 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
}

.switch{
      input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
      background-color: #2196F3;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider:before {
      content: "ru";
      border-radius: 50%;
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
}
}

.slider {
  font-family: $font-montserrat;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 5px;
  content: "en";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

