@import "mixins";
@import "variables";

@media (max-width: 600px) {
  .auth-page{
    background-color: #FFF !important;

    .logo{
      margin-top: 2vh !important;
      justify-self: start;
    }

    .sign-form {
      form {
        padding: 0 !important;

        .head {
          margin-bottom: 65px;
          text-align: center;
        }

        .sign {
          .error {
            margin-top: 8px !important;
            margin-bottom: 16px !important;
            margin-left: 30px;
          }

          .link-forgot{
            text-align: center;
          }

          .input-block {
            input{
              margin: 0 auto !important;
              width: 330px !important;
            }
        }
      }

      .button-disabled {
        width: 330px !important;
      }

      .button-enable {
        width: 330px !important;
      }

    }
    }
  }
}

.auth-page {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-color: #E5E5E5;

  a {
    text-decoration: none;
    color: #683BE4;
  }

  a:hover {
    color: #411ca5;
  }

  .logo {
    margin-top: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 228px;
    height: 5.55vh;
  }

  .sign-form {
    form {
      padding: 60px;
      background-color: white;
      border-radius: 5%;
      height: auto;
      margin-bottom: 15px;

      .head {
        font-family:'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #0F0F0F;
      }

      .button-disabled {
        @include button-sign-in;

        background: #1B1A1DBF;
      }

      .button-enable {
        @include button-sign-in;
      }

      .button-enable:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px #0003;
      }

      .button-enable:hover {
        transform: scale(1.01);
      }


      .sign {
        margin: 10px 0;

        .link-forgot{
          @include link_font;

          font-size: 16px;
        }

        .error {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #F0452B;
          margin-top: 8px;
          margin-bottom: 16px;
        }

        .input-block {
          height: 60px;
          position: relative;
          display: flex;
          flex-direction: column;

          .hide {
            display: block;
            position: absolute;
            margin-left: 15px;
            top: 0;
            margin-top: 20px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #757575;
            cursor: text;
            pointer-events: all;
          }
          @keyframes onAutoFillStart {
          }

          @keyframes onAutoFillCancel {
          }
          input:-webkit-autofill {
            animation-name: onAutoFillStart;
            transition: background-color 50000s ease-in-out 0s;
          }

          input:not(:-webkit-autofill) {
            animation-name: onAutoFillCancel;
          }
          .label-top{
            margin-left: 15px;
            display: block;
            position: absolute;
            font-size: 12px;
            margin-top: 10px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 400;
            color: #757575;
            cursor: text;
          }

          input {
            padding-top: 10px;
            display: block;
            padding-left: 17px;
            background: #F6F6F6;
            border-radius: 6px;
            outline: none;
            width: 384px;
            height: 60px;
            border: 0;
          }

          .eye
          {
            margin-top: 20px;
            margin-right: 20px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background: none;
            cursor: pointer;
            border: none;
          }

          input:focus {
            border: 0;
            background: #EBEBEB;
          }
        }
      }
    }

    .change-form-text {
      text-align: center;

      @include link-font
    }
  }
}
