@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;800&display=swap";
@import 'https://fonts.googleapis.com/css2?family=DM+Sans&display=swap';

$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;



