@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";

.settingPageStyle {
  font-family: $font-montserrat;
  margin-left: 256px;
  padding-left: 75px;
  background-color: #fff;
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% repeat(4, 1fr);
  font-size: 14px;

  h1 {
    font-size: 32px;
  }

  h2 {
    margin: 0;
    font-size: 20px;
  }

  .textBlock {
    display: grid;
    width: 340px;
    grid-template-rows: repeat(3, 36px);

    span {
      font-weight: bold;
      text-align: left;
      font-size: 14px;
    }
  }

  button {
    @include SettingsButtonStyle;
  }

  button:hover {
    @include SettingsButtonStyleHover;
  }
}
