
.root {
    position: absolute;
    z-index: 2;
    background-color: #FAFAFA;
    width: 121px;
    height: 100vh;
    transition: all 0.2s;
    &:hover {
        width: 256px;
    }
    .lang{
        position: absolute;
        padding-top: 5.5vh;
        padding-left: 1vh;
    }
}

.buttonSignIN {
    padding: 30px;
    a {
        display: inline-block;
        line-height: 1;
        text-decoration: none;
        color: black;
        transition: 0.4s ease-in-out;
        button{
            background: none;
            border: none;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            span {
                font-family: 'Open Sans', sans-serif;
                font-weight: 800 ;
                font-size: 16px;
                line-height: 22px;
                
            }
            &:hover{
                
                color: #FAFAFA;
            }
        } 
        &:after {
            display: block;
            position: absolute;
            content: "";
            height: 44px;
            width: 0;
            background-color: rgba(0,0,0,0.9) ;
            //background-color: rgba(0,163,255,0.2) ;
            color: white;
            transition: width 0.4s ease-in-out;
            left: 0;
            transform: translateY(-33px);
            z-index: -1;
        }

        &:hover:after {
            width: 100%;
        }
        &:hover{
            color: white;
        }
        
    }

}

.links {
    list-style: none;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
        a {
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            margin-top: 24px ;
            &:after {
                display: block;
                position: absolute;
                content: "";
                height: 0;
                width: 4px;
                background-color: rgba(0,163,255,0.5) ;
                transition: height 0.4s ease-in-out;
                left: 0;
                transform: translateY(-33px);
            }
            &:hover:after {
                height: 44px;
            }
            .blockActive {
                background-color: #00A3FF ;
                position: absolute;
                width: 4px;
                height: 44px;
                left: 0;
                transform: translateY(-11px);
            }

            .active {
                color: #0F0F0F;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800 !important;;
                font-size: 16px;
                line-height: 22px;
            }

            .pending {
                color: #757575;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400 ;
                font-size: 14px;
                line-height: 22px;
                transition: all 0.5ms;
            }

            .pending:hover {
                font-weight: 600;
                color: #1a1a1a;
            }

        }
    }